<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

<head>
    {% block title %}
    <title>C/C++</title>
    <link rel="shortcut icon" type="image/png" href="{% static "images/Sign_language_V.svg.png" %}">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!-- Theme CSS -->
    <link id="theme-style" href="{% static "css/styles.css" %}" rel="stylesheet">
    {% endblock title %}
</head>

<body>
    <!-- ******HEADER****** -->
    {% block header %}{% endblock header %}

    {% block content%}
    <div id="hero" class="hero-section">
        <div id="hero-carousel" class="hero-carousel">

			<!-- Wrapper for slides -->
			<div class="carousel-inner">

				<div class="item item-1 active">
					<div class="item-content container">
    					<div class="item-content-inner">
                            <h2 class="heading">{{ hero.last.titleF }}</h2>
                            <p class="intro"> {{ hero.last.hero }} </p>
                        </div><!--//item-content-inner-->
					</div>
				</div><!--//item-->
			</div><!--//carousel-inner-->

		</div><!--//carousel-->
    </div><!--//hero-->

    <div id="about" class="about-section">
        <div class="container">
            <h2 class="section-title">{{ about.last.titleS }}</h2>
            <p class="intro"> {{ about.last.about }} </p>
            <ul class="technologies">
                <li><img src="{% static "images/C_Programming_Language.svg.png"%}" alt="C"></li>
                <li><img src="{% static "images/ISO_C++_Logo.svg.png" %}" alt="C++"></li>
                <li><img src="{% static "images/Qt_logo_2013.svg.png" %}" alt="Qt"></li>
                <li><img src="{% static "images/Clion.svg.png" %}" alt="CLion"></li>
            </ul>
        </div><!--//container-->
    </div><!--//about-section-->

    <div id="testimonials" class="testimonials-section">
        <div class="container">
            <h2 class="section-title">{{ born.last.titleB }}</h2>
            <div class="item">
                <div class="quote-holder">
                    <blockquote class="quote">
                        <p>{{ born.last.born }}</p>
                    </blockquote>
                </div><!--//quote-holder-->
            </div><!--//item-->

        </div><!--//container-->
    </div><!--//testimonials-->

    <div id="features" class="features-section">
        <div class="container">
            <h2 class="section-title">Совместимость с языком С </h2>
            <p class="intro">Выбор именно C в качестве базы для создания нового языка программирования объясняется тем, что язык C: </p>

            <p class="par"> Является многоцелевым, лаконичным и относительно низкоуровневым языком; </p>

            <p class="par">Подходит для решения большинства системных задач;</p>

            <p class="par">Исполняется везде и на всём;</p>

            <p class="end-par">Стыкуется со средой программирования UNIX. </p>

            <p class="intro">Несмотря на ряд известных недостатков языка C, Страуструп пошёл на его использование в качестве основы, так как «в C есть свои проблемы, но их имел бы и разработанный с нуля язык, а проблемы C нам известны». Кроме того, это позволило быстро получить прототип компилятора (cfront), который лишь выполнял трансляцию добавленных синтаксических элементов в оригинальный язык C.

            По мере разработки C++ в него были включены другие средства, которые перекрывали возможности конструкций C, в связи с чем неоднократно поднимался вопрос об отказе от совместимости языков путём удаления устаревших конструкций. Тем не менее, совместимость была сохранена из следующих соображений:

            сохранение действующего кода, написанного изначально на C и прямо перенесённого в C++;

            исключение необходимости переучивания программистов, ранее изучавших C (им требуется только изучить новые средства C++);

            исключение путаницы между языками при их совместном использовании («если два языка используются совместно, их различия должны быть или минимальными, или настолько большими, чтобы языки было невозможно перепутать»). </p>


            <h2 class="second-section-title">{{ compatibility.last.titleC }}</h2>

            <div class="img-resp">
                <img src="{% static "images/cpp-code2.jpg"%}" alt="code" >
                <p class="python">{{ compatibility.last.compatibility }}</p>
            </div><!--//feature-content-->

        </div><!--//container-->
    </div><!--//features-->
    {% endblock content %}

    <div class="cpp-usage">
        <h2 class="section-title">{{ usage.last.titleU }}</h2>
        <div class="story">
            <p>{{ usage.last.usage }}</p>
        </div>
    </div>

    {% block contact-section %}{% endblock contact-section %}
{% block footer %}{% endblock footer %}
</body>