<!DOCTYPE html>
{% load static %}

<head>
    <title>Responsive website template for developers</title>
    <link rel="shortcut icon" type="image/png" href="{% static "images/Sign_language_V.svg.png" %}">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!-- Theme CSS -->
    <link id="theme-style" href="{% static "css/styles.css" %}" rel="stylesheet">

</head>

<body>
    <!-- ******HEADER****** -->
    <header id="header" class="header">
        <div class="container">
            <h1 class="logo">
                <a class="scroll-to">
                    <span class="text"><span class="highlight">VADLAP</span> production</span></a>
            </h1><!--//logo-->
            <nav class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                </div><!--//navbar-header-->
                <div id="navbar-collapse" class="navbar-collapse collapse">
                    <ul class="nav">
                        <li class="active nav-item"><a class="scroll-to" href="index.html">Главная</a></li>
                        <li class="nav-item"><a class="scroll-to" href="demand">Востребованность</a></li>
                        <li class="nav-item"><a class="scroll-to" href="#geography">География</a></li>
                        <li class="nav-item"><a class="scroll-to" href="#skills">Навыки</a></li>
                        <li class="nav-item"><a class="scroll-to" href="#vacancies">Последние вакансии</a></li>
                        <li class="nav-item"><a class="scroll-to" href="#autor">Автор</a></li>
                    </ul><!--//nav-->
                </div><!--//navabr-collapse-->
            </nav><!--//main-nav-->
        </div><!--//container-->
    </header><!--//header-->

    <div id="hero" class="hero-section">
        <div id="hero-carousel" class="hero-carousel">

			<!-- Wrapper for slides -->
			<div class="carousel-inner">

				<div class="item item-1 active">
					<div class="item-content container">
    					<div class="item-content-inner">
				            <h2 class="heading">Кто такой C/C++ программист?</h2>
				            <p class="intro">Сейчас существует множество разнообразных языков программирования. Среди этого выбора всегда выделялись C/C++. В чём же причина, какова их история и что из себя представляет данная профессия разберёмся сейчас. </p>
    					</div><!--//item-content-inner-->
					</div>
				</div><!--//item-->
			</div><!--//carousel-inner-->

		</div><!--//carousel-->
    </div><!--//hero-->

    <div id="about" class="about-section">
        <div class="container">
            <h2 class="section-title">История C/C++</h2>
            <p class="intro">Си — компилируемый статически типизированный язык программирования общего назначения, разработанный в 1969—1973 годах сотрудником Bell Labs Деннисом Ритчи как развитие языка Би. Первоначально был разработан для реализации операционной системы UNIX, но впоследствии был перенесён на множество других платформ.
                Согласно дизайну языка, его конструкции близко сопоставляются типичным машинным инструкциям, благодаря чему он нашёл применение в проектах, для которых был свойственен язык ассемблера,
                в том числе как в операционных системах, так и в различном прикладном программном обеспечении для множества устройств — от суперкомпьютеров до встраиваемых систем.
            Язык Си разрабатывался как язык системного программирования, для которого можно создать однопроходный компилятор. Стандартная библиотека также невелика. Как следствие данных факторов — компиляторы разрабатываются сравнительно легко. Поэтому данный язык доступен на самых различных платформах. К тому же, несмотря на свою низкоуровневую природу, язык ориентирован на переносимость. Программы, соответствующие стандарту языка, могут компилироваться под различные архитектуры компьютеров.
            Целью языка было облегчение написания больших программ с минимизацией ошибок по сравнению с ассемблером, следуя принципам процедурного программирования, но избегая всего, что может привести к дополнительным накладным расходам, специфичным для языков высокого уровня.</p>
            <ul class="technologies">
                <li><img src="{% static "images/C_Programming_Language.svg.png"%}" alt="C"></li>
                <li><img src="{% static "images/ISO_C++_Logo.svg.png" %}" alt="C++"></li>
                <li><img src="{% static "images/Qt_logo_2013.svg.png" %}" alt="Qt"></li>
                <li><img src="{% static "images/Clion.svg.png" %}" alt="CLion"></li>
            </ul>
        </div><!--//container-->
    </div><!--//about-section-->

    <div id="testimonials" class="testimonials-section">
        <div class="container">
            <h2 class="section-title">Языку C++ больше 40 лет</h2>
            <div class="item">
                <div class="quote-holder">
                    <blockquote class="quote">
                        <p>Язык возник в начале 1980-х годов, когда сотрудник фирмы Bell Labs Бьёрн Страуструп придумал ряд усовершенствований к языку C под собственные нужды. Когда в конце 1970-х годов Страуструп начал работать в Bell Labs над задачами теории очередей (в приложении к моделированию телефонных вызовов), он обнаружил, что попытки применения существовавших в то время языков моделирования оказались неэффективными, а применение высокоэффективных машинных языков слишком сложно из-за их ограниченной выразительности. Так, язык Симула имеет такие возможности, которые были бы очень полезны для разработки большого программного обеспечения, но работает слишком медленно, а язык BCPL достаточно быстр, но слишком близок к языкам низкого уровня и не подходит для разработки большого программного обеспечения.

                        Вспомнив опыт своей диссертации, Страуструп решил дополнить язык C (преемник BCPL) возможностями, имевшимися в языке Симула. Язык C, будучи базовым языком системы UNIX, на которой работали компьютеры Bell, является быстрым, многофункциональным и переносимым. Страуструп добавил к нему возможность работы с классами и объектами. В результате практические задачи моделирования оказались доступными для решения как с точки зрения времени разработки (благодаря использованию Симула-подобных классов), так и с точки зрения времени вычислений (благодаря быстродействию C). В первую очередь в C были добавлены классы (с инкапсуляцией), наследование классов, строгая проверка типов, inline-функции и аргументы по умолчанию. Ранние версии языка, первоначально именовавшегося «C with classes» («Си с классами»), стали доступны с 1980 года.

                        Разрабатывая C с классами, Страуструп написал программу cfront — транслятор, перерабатывающий исходный код C с классами в исходный код простого C. Это позволило работать над новым языком и использовать его на практике, применяя уже имевшуюся в UNIX инфраструктуру для разработки на C. Новый язык, неожиданно для автора, приобрёл большую популярность среди коллег и вскоре Страуструп уже не мог лично поддерживать его, отвечая на тысячи вопросов.

                        К 1983 году в язык были добавлены новые возможности, такие как виртуальные функции, перегрузка функций и операторов, ссылки, константы, пользовательский контроль над управлением свободной памятью, улучшенная проверка типов и новый стиль комментариев (//). Получившийся язык уже перестал быть просто дополненной версией классического C и был переименован из C с классами в «C++». Его первый коммерческий выпуск состоялся в октябре 1985 года.

                        До начала официальной стандартизации язык развивался в основном силами Страуструпа в ответ на запросы программистского сообщества. Функцию стандартных описаний языка выполняли написанные Страуструпом печатные работы по C++ (описание языка, справочное руководство и так далее). Лишь в 1998 году был ратифицирован международный стандарт языка C++: ISO/IEC 14882:1998 «Standard for the C++ Programming Language»; после принятия технических исправлений к стандарту в 2003 году — следующая версия этого стандарта — ISO/IEC 14882:2003. </p>
                    </blockquote>
                </div><!--//quote-holder-->
            </div><!--//item-->

        </div><!--//container-->
    </div><!--//testimonials-->

    <div id="features" class="features-section">
        <div class="container">
            <h2 class="section-title">Совместимость с языком С </h2>
            <p class="intro">Выбор именно C в качестве базы для создания нового языка программирования объясняется тем, что язык C: </p>

            <p class="par"> Является многоцелевым, лаконичным и относительно низкоуровневым языком; </p>

            <p class="par">Подходит для решения большинства системных задач;</p>

            <p class="par">Исполняется везде и на всём;</p>

            <p class="end-par">Стыкуется со средой программирования UNIX. </p>

            <p class="intro">Несмотря на ряд известных недостатков языка C, Страуструп пошёл на его использование в качестве основы, так как «в C есть свои проблемы, но их имел бы и разработанный с нуля язык, а проблемы C нам известны». Кроме того, это позволило быстро получить прототип компилятора (cfront), который лишь выполнял трансляцию добавленных синтаксических элементов в оригинальный язык C.

            По мере разработки C++ в него были включены другие средства, которые перекрывали возможности конструкций C, в связи с чем неоднократно поднимался вопрос об отказе от совместимости языков путём удаления устаревших конструкций. Тем не менее, совместимость была сохранена из следующих соображений:

            сохранение действующего кода, написанного изначально на C и прямо перенесённого в C++;

            исключение необходимости переучивания программистов, ранее изучавших C (им требуется только изучить новые средства C++);

            исключение путаницы между языками при их совместном использовании («если два языка используются совместно, их различия должны быть или минимальными, или настолько большими, чтобы языки было невозможно перепутать»). </p>

            <h2 class="second-section-title">Новые возможности</h2>

            <div class="img-resp">
                <img src="{% static "images/cpp-code2.jpg"%}" alt="code" >
                <p class="python">Однако для изучения C++ совсем не обязательно знать C. Тем не менее мы предполагаем, что вы знакомы с основами информатики и владеете каким-либо языком программирования на уровне школьной программы — например, языком Python.

                Впрочем, C++ во многом полностью противоположен Python:

                это компилируемый, а не интерпретируемый язык;

                С++ — язык со статической, а не динамической типизацией;

                в C++ возможно ручное управление памятью (в отличие от автоматической сборки мусора).

                Чтобы исходный код программы на C++ превратился в исполняемый файл для конкретной архитектуры процессора, программу нужно скомпилировать. Существует несколько популярных компиляторов C++:

                GNU Compiler Collection (GCC);

                Clang — построен поверх инфраструктуры LLVM;

                Microsoft Visual C++ (MSVC) — входит в состав Microsoft Visual Studio;

                Intel C++ Compiler.

                С 1998 года международный комитет по стандартизации C++ выпускает стандарты — версии языка, в которых описываются его возможности. В первую очередь это руководства для создателей компиляторов, но при возникновении спорных моментов всегда полезно обратиться к стандарту.

                Важно понимать, что стандарт определяет лишь общие требования и не фиксирует детали реализации, которые в разных компиляторах могут отличаться. </p>
            </div><!--//feature-content-->

        </div><!--//container-->
    </div><!--//features-->

    <div class="cpp-usage">
        <h2 class="section-title">Для чего нужен C++</h2>
        <div class="story">
            <p>C++ позволяет создавать приложения и программы любой сложности: от простых консольных утилит до сложных игровых движков. Также на этом языке можно программировать микроконтроллеры и системы в реальном времени. На C++ можно написать практически все что угодно,

            от системных приложений до мобильных приложений. Этот язык используется для создания операционных систем, программного обеспечения разного рода и игровых движков.

            C++ используется во многих областях, таких как разработка игр, научные исследования и разработка системного программного обеспечения. Он также широко применяется в области финансов и банковского дела.

            Многие известные приложения были написаны на C++, включая операционные системы Windows и OS X, многие игры, такие как World of Warcraft и Counter-Strike. На C++ можно написать практически любое программное обеспечение, от простых консольных утилит до сложных приложений.

            Благодаря C++ работают Unreal Engine 4, Microsoft Office и Adobe Photoshop. </p>

        </div>
    </div>

    <div class="contact-section">
        <h2 class="section-title">Контакты</h2>
        <div class="contact-content">
            <p>Допилим позже</p>
        </div>
    </div><!--//contact-section-->

    <footer class="footer">
            <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can check out other license options via our website: themes.3rdwavemedia.com */-->
            <small class="copyright">Лаптев Вадим Сергеевич РИ-220911<a href="https://github.com/gopochu" target="_blank"> GitHub</a></small>
    </footer>
</body>